hr {
  margin: 13px auto;
  width: 53%;
  height: 0;
  border: none;
  border-top: 2px solid rgba(0, 0, 0, 0.28);
  animation: -hr-anim .3s ease-out;
}

@keyframes -hr-anim {
  from {
    width: 0%;
  }
}
