.top-bar {
  margin-top: 16px;
  @include layout(column, flex-start, center);
  @media #{$tablet-plus} {
    position: relative;
    @include layout(row, center, flex-start);
  }
  .icons {
    $icons-gap: 6px;
    padding: $icons-gap;
    @include layout(row, space-around, center);
    @media #{$tablet-plus} {
      position: absolute;
      right: 0;
    }
    .mdi {
      margin: 0 $icons-gap;
      animation: pop-in 0.3s ease-out;
      @media (hover: hover) {
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
  .title {
    font-family: Cinzel;
    text-align: center;
    font-size: 2.2em;
    animation: fade-up 0.4s ease-out;
  }
}
