$path-svg: '/node_modules/@mdi/svg/svg';

$mdi-icons: (
  'instagram',
  'pinterest',
  'github-circle'
);

.mdi {
  width: 28px;
  height: 28px;
}

@each $s in 24, 28, 36, 48 {
  .mdi-#{$s} {
    width: $s * 1px;
    height: $s * 1px;
  }
}

@each $icon in $mdi-icons {
  .mdi-#{$icon} {
    background: url("#{path-svg}/#{$icon}.svg") no-repeat;
    background-size: 100%;
  }
}
